POSTGRES_USERNAME=cap-editor
POSTGRES_PASSWORD=dev
POSTGRES_DATABASE=cap-editor

BASE_URL=http://localhost:3000
PRIVATE_KEY_FILENAME=domain.tld.key

DATABASE_URL="postgresql://cap-editor:dev@localhost:5432/cap-editor?schema=public"

EMAIL_SERVER_HOST=127.0.0.1
EMAIL_SERVER_PORT=1025
EMAIL_SERVER_USER=admin
EMAIL_SERVER_PASSWORD=admin
EMAIL_FROM=cap-editor@localhost

WEBAUTHN_RELYING_PARTY_NAME=CAP editor
WEBAUTHN_RELYING_PARTY_ID=localhost
WEBAUTHN_ORIGIN=http://localhost:3000

TLS_DIRECTORY=/tls

NEXTAUTH_SECRET=SECRET

WHAT_NOW_API_KEY=KEY

REDIS_HOST=localhost
IFRC_AA_VERIFIER_EMAIL=example@ifrc.org

RESOURCES_S3_BASE_URL=localhost
RESOURCES_S3_PORT=9000
RESOURCES_S3_ACCESS_KEY=username
RESOURCES_S3_SECRET_KEY=password
RESOURCES_S3_BUCKET_NAME=resources
RESOURCES_S3_BASE_PUBLIC_URL=http://localhost:9000
RESOURCES_S3_IS_LOCAL=true
