.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 40px;
}

.button {
  margin-left: 10px;
}

.link {
  color: black;
}

.link:hover {
  color: black;
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-left: 10px;
}
