.newAlert {
  margin: 10px 20px;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.header h3 {
  display: flex;
  align-items: center;
}

.header .shareIcon {
  cursor: pointer;
  font-size: 0.8em;
  margin-left: 5px;
}

.editorContainer {
  display: flex;
  justify-content: space-between;
}

.inputsWrapper {
  width: 50%;
}

.inputGroup {
  margin-bottom: 24px;
}

.mapFormWrapper {
  width: 45%;
}

.mapForm {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.mapFormGroup {
  width: 50%;
}

.countryQuickAddLink {
  padding: 0;
  margin: 0;
}

.countryQuickAddDivider {
  margin: 0 6px;
  background-color: grey;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.alertId {
  font-family: monospace;
  text-transform: none;
}

.actions {
  float: right;
  display: flex;
  gap: 10px;
}
