.matrix {
  position: relative;
}

.cellWrapper {
  display: grid;
  column-gap: 1px;
  row-gap: 1px;
  align-items: center;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(4, 30px);
}

.cell {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.selected::after {
  content: "✓";
  position: absolute;
  font-size: 1.4em;
  margin-left: 8px;
}

.red {
  background-color: #d2222d;
}

.amber {
  background-color: #ff851b;
}

.yellow {
  background-color: #ffdc00;
}

.green {
  background-color: #2ba72b;
}
