.buttonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.button {
  border: 1px solid red;
  color: black;
}

.selectedButton {
  background-color: grey;
  color: white;
}

.resource {
  margin: 10px;
}

.reviewItem {
  margin: 5px;
  margin-top: 0;
  white-space: pre-wrap;
}

.sideBySide {
  display: flex;
  gap: 0 50px;
  justify-content: center;
  align-items: center;
}

.indent {
  margin-left: 20px;
  margin-top: -20px;
}

.header {
  text-transform: capitalize;
  margin-top: 15px;
}

.tag {
  margin-left: 10px;
}

.reviewStepsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.languageWrapper {
  margin: 10px 0;
}

.language {
  margin: 4px;
  text-decoration: underline;
}
