.buttonGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.button {
  border: 1px solid red;
  color: black;
}

.selectedButton {
  background-color: grey;
  color: white;
}

.urlInputWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px;
}

.urlInputWrapper > span {
  width: 50px;
}

.reviewItem {
  margin: 10px;
}

.editIcon {
  margin-left: 5px;
}

.sideBySide {
  display: flex;
  gap: 0 50px;
  justify-content: center;
  align-items: center;
}
